@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');

header {
    background-color: hwb(83 19% 55%);
    color: hsl(17, 19%, 81%);
    padding: 20px;
    text-align: center;
}

.titulo {
  .englebert-regular {
    font-family: "Englebert", cursive;
    font-weight: 400;
    font-style: normal;
  }
    
    } 

body 
{
    background-color: hsl(18, 26%, 70%); /* cor de fundo cinza claro */
  }

  .container {
    display: flex;
  }

  .container img {
    width: 25.22%;
    height: auto;
    margin-right: 15px; /* Espaçamento horizontal entre as imagens */
  }

  /* Para remover a margem direita da última imagem */
  .container img:last-child {
    margin-right: 0;
  }

  
.container {
    overflow: hidden; /* Limpa o float */
  }

  .column {
    float: left;
    width: 50%; /* Duas colunas, cada uma ocupando metade do contêiner */
    padding: 10px; /* Espaçamento interno */
  }

  /* Limpa o float para evitar problemas de layout */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .caixa-verde {
    background-color: hwb(83 19% 55%);
    border: 2px solid hwb(83 19% 55%);
    border-radius: 15px;
    padding: 20px;
    color: hwb(51 81% 9%);
    font-family: Arial, sans-serif;
}
a {
    color: hwb(51 81% 9%);
    text-decoration: underline;
}