
@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

header {
    background-color: hwb(83 19% 55%);
    color: hsl(17, 19%, 81%);
    padding: 20px;
    text-align: center;
}

.titulo {
    .cormorant-garamond-light{
        font-family: "Cormorant Garamond", serif;
        font-weight: 300;
        font-style: normal;
    }    
}

b .container {
    display: flex;
  }

  .container img {
    width: 25.22%;
    height: auto;
    margin-right: 15px; /* Espaçamento horizontal entre as imagens */
  }

  /* Para remover a margem direita da última imagem */
  .container img:last-child {
    margin-right: 0;
  }
  

head
body

div class="container"
  <img src="R 1.png" alt="Imagem 1"
  <img src="OIP (1) 1.png" alt="Imagem 2"
  <img src="OIP 1.png" alt="Imagem 3"
div